/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Hero Section */
.hero {
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero .logo {
    width: 100px;
    margin-bottom: 20px;
}

.hero .btn {
    display: inline-block;
    background: #5a0c7a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}
.cta {
    display: flex;
    justify-content: center; /* Centraliza o botão dentro da div */
    width: 100%;
}
/* Seção Sobre */
.sobre {
    display: flex;
    align-items: center;
    padding: 50px 20px;
    background: white;
}
.sobre .texto h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.sobre .introducao {
    font-size: 1.5rem;
    font-weight: bold;
    color: #06196f;
    margin-bottom: 20px;
}

.depoimentos .btn {
    display: inline-block;
    background: #5a0c7a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

.sobre .texto {
    flex: 1;
    padding-right: 20px;
}
.sobre .btn {
    display: inline-block;
    background: #5a0c7a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.imagem-treinamento {
    width: 100%;
    max-width: 1000x;
    margin-top: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.imagem-exercicio {
    width: 100%;
    max-width: 800px; /* Corrigido o erro de '500x' para '500px' */
    margin: 30px auto; /* Margin auto para centralizar a imagem */
    display: block; /* Faz a imagem se comportar como um bloco */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


/* Seção Serviços */
.servicos {
    background: #5a0c7a;
    color: white;
    padding: 50px 20px;
}

.servicos .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.servico {
    background: white;
    color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.servico img {
    width: 80px;
    margin-bottom: 10px;
}

/* Seção Depoimentos */
.depoimentos {
    padding: 50px 20px;
    background: #f4f4f4;
}

.slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.depoimento {
    min-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#preco {
    background-color: #030303;
    padding: 40px 20px;
    margin-top: 40px;
    border-radius: 10px;
}

#preco .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.titulo-preco {
    font-size: 32px;
    color: #5271ff;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.detalhes-preco {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.preco .btn {
    display: inline-block;
    background: #5271ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.desconto {
    margin-bottom: 20px;
}

.preco-antigo {
    font-size: 24px;
    color: #fb1a1a;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.preco-promocional {
    font-size: 28px;
    color: #5271ff;
    font-weight: bold;
    margin-top: 10px;
}

.preco-mensal {
    font-size: 22px;
    color: #5271ff;
    margin: 10px 0;
}

.mensalidade-pizza {
    font-size: 18px;
    font-style: italic;
    color: #333;
}

.descricao {
    font-size: 18px;
    color: #555;
    margin-top: 15px;
    font-weight: bold;
}

/* Rodapé */
footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 20px;
}
